# This is a basic workflow to help you get started with Actions

name: Merge to gh-pages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches-ignore:
      - 'gh-pages'
  pull_request_target:
    branches-ignore:
      - 'gh-pages'
      
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Git config
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "Github Actions"
          
      - name: Checkout gh-pages
        run: git checkout gh-pages
        
      - name: Merge master
        run: git merge remotes/origin/master
        
      - name: Merge other branches
        run: git branch -a | grep remotes | grep -v gh-pages | grep -v HEAD | grep -v master | xargs git merge
        
      - name: push 
        run: git push
